page-add-commodity {
    .label {
      color: black;
      font-size: 16px;
    }
    .bt_done {
      color: white;
      width: 50%;
      background: #FF6A3C;
    }
    .bt_add_again {
      color: white;
      width: 50%;
    }
    .fixed-bottom {
      position: fixed;
      bottom: 0;
      z-index: 10;
    }
  }
